@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

:root {
  --text-size-small: 14px;
  --text-size: 16px;
  --small-margin: 20px;
  --default-margin: 40px;
  --font-serif: "Cormorant";
  --font-sans-serif: "Outfit";
  --font-monospace: "Google Sans Code";
}

.fullpage {
  max-width: 500px;
  margin: auto;
  background: white;
}

.headerRegion {
  display: grid;
  grid-template-rows: auto auto;

  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  width: 100%;
}

.navbar {
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  
  background: white;

  font-family: var(--font-serif);
}

.navbar a{
  --c: black; /* the color */
  
  color: #0000;
  background: 
    linear-gradient(90deg,black 50%,var(--c) 0) calc(100% - var(--_p,0%))/200%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) no-repeat,
    var(--_c,#0000);
  -webkit-background-clip: text,padding-box,padding-box;
          background-clip: text,padding-box,padding-box;
  transition: 0.5s;

  border-radius: 0.2rem;
  padding: 0.2rem;
}

.navbar a:hover {
  color: #fff;
  --_p: 100%;
}

.header {
  height: auto;
  text-align: center;
}

.header h1 {
  font-size: calc(3 * var(--text-size));
  font-family: var(--font-serif);
  font-weight: normal;
}

.detail {
  text-align: left;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
  font-size: var(--text-size);
}

.detail-header {
  font-family: var(--font-sans-serif);
  font-weight: 300;
}

.detail-info {
  color: rgb(90, 90, 90);
  font-size: var(--text-size-small);
  font-family: var(--font-sans-serif);
  font-weight: 300;
  line-height: 1.5em;
  padding-left: 1em;
  padding-bottom: 1.5em;
}

.timeline
{
  text-align: left;

  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
}

.blog-header
{
  font-family: var(--font-serif);

  padding: var(--small-margin);
  margin-bottom: var(--default-margin);
  margin-right: var(--small-margin);
  margin-left: var(--small-margin);
  border-radius: 0.5rem;
  font-size: var(--text-size-small);

  font-weight: 300;
  line-height: 1.5em;
  font-style: italic;
}

.timelinePost
{
  font-family: var(--font-sans-serif);

  padding: var(--small-margin);
  margin-bottom: var(--default-margin);
  border-radius: 0.5rem;
  font-size: var(--text-size);

  font-weight: 300;
  line-height: 1.5em;
  scroll-snap-align: center;
}

.timelinePost a
{
  --c: black; /* the color */
  
  font-weight: bold;

  color: #0000;
  background: 
    linear-gradient(90deg,black 50%,var(--c) 0) calc(100% - var(--_p,0%))/200%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) no-repeat,
    var(--_c,#0000);
  -webkit-background-clip: text,padding-box,padding-box;
          background-clip: text,padding-box,padding-box;
  transition: 0.5s;

  border-radius: 0.2rem;
  padding: 0.2rem;
}

.timelinePost a:hover
{
  color: #fff;
  --_p: 100%;
}

.postDate
{
  font-family: var(--font-sans-serif);
  color: darkgray;
  font-size: calc(0.75 * var(--text-size));
}

.keywords
{
  height: auto;
  background: white;

  display: flex;
  gap: var(--small-margin);
  justify-content: center;
  align-items: center;
  
  margin-bottom: var(--default-margin);
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);

  font-family: var(--font-sans-serif);

  flex-wrap: wrap;
}

.keywords-post {
  display: flex;
  gap: var(--small-margin);
  justify-content: right;

  font-family: var(--font-sans-serif);
  font-weight: 300;
  line-height: 1em;
}

.keyword {
  color: whitesmoke;
  background: lightgray;
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;

  border-style: solid;
  border-color: lightgray;
  border-width: thin;

  font-size: calc(0.75 * var(--text-size));
}

.usedKeyword
{
  background: black;
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;

  border-style: solid;
  border-color: black;
  font-size: calc(0.75 * var(--text-size));
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.suggestion-header {
  font-family: var(--font-sans-serif);
  font-size: var(--text-size);
}

.suggestion-text {
  font-family: var(--font-serif);
  font-size: var(--text-size);
}

.suggestion a
{
  --c: black; /* the color */
  
  color: #0000;
  background: 
    linear-gradient(90deg,black 50%,var(--c) 0) calc(100% - var(--_p,0%))/200%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) no-repeat,
    var(--_c,#0000);
  -webkit-background-clip: text,padding-box,padding-box;
          background-clip: text,padding-box,padding-box;
  transition: 0.5s;

  border-radius: 0.2rem;
  padding: 0.2rem;
}

.suggestion a:hover {
  color: #fff;
  --_p: 100%;
}

.mixes {
  text-align: center;

  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
} 

.links
{
  text-align: center;
  margin-bottom: calc(var(--default-margin));
  margin-top: calc(3*var(--default-margin));
}

.links img{
  filter: saturate(500%) contrast(800%) brightness(500%) 
      invert(0%)
}

.link
{
  margin: 10px;
  width: 16px;
  height: 16px;
}

.linkIcon
{
  width: 24px;
  height: auto;
}

.menuButton {
  display: none;
}

@media only screen and (max-width: 600px) {
  
  .headerRegion {
    grid-template-rows: auto;
    grid-template-columns: min-content auto;
    align-items: center;
  }

  .header {
    text-align: right;
    padding-right: var(--default-margin);
  }

  .menuButton {
    display: inline-block;
    background: none;
    border: none;
    padding-left: 1em;

    -webkit-transition: transform 0.2s ease-in-out;
  }

  .menuButton:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
  }

  .navbarContent {
    display: none;
    position: absolute;

    gap: 0;
    
    background: white;
    z-index: 100;
  
    font-family: var(--font-serif);
  
    height: auto;

    background: white;
    border: solid;
    border-color: ligthgray;
    border-width: 1px;

    align-items: start;
    justify-content: left;
    flex-direction: column;

    shadow-color: lightgray;

    padding: 0.5em;
    margin-top: 0.5em;

    -webkit-transition: transform 0.1s ease-in-out;
  }

  .navbar:hover .navbarContent {
    display: flex;
    z-index: 100;
  }

  .navbar:hover .menuButton {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }

  .keywords
  {
    justify-content: left;
  }
}